// CSS reset
@import './base/reset';

// Google font
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* * {
    outline: 1px solid black;
} */

*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	font-family: "Noto Sans", sans-serif;
	line-height: 1.2;
	color: #3B3B3B;
}

.container {
	max-width: 1320px;
	margin: 0 auto;
	padding: 0 12px;
}

img {
	display: block;
}

a {
	display: block;
	color: #3B3B3B;
	text-decoration: none;
}

.navbar {
	display: flex;
	align-items: center;
	padding: 28px 0;

	h1 {
		margin-right: 318px;

		img {
			max-width: 90px;
		}
	}

	.menu {
		display: flex;
		gap: 40px;
		a {
			font-weight: 600;
			color: #000000;
			padding: 4px 8px;
			&:hover {
				text-decoration: underline;
				text-underline-offset: 4px;
			}
		}
	}
}

.work {
	padding: 120px 0;
}

.card {
	display: flex;
	flex-wrap: wrap;
	gap: 24px;
	row-gap: 80px;
	margin-bottom: 72px;

	&-list {
		img {
			border: 1px solid #F1F1F1;
			border-radius: 8px;
			max-width: 636px;
			margin-bottom: 16px;
		}

		h2 {
			font-size: 28px;
			font-weight: 700;
			margin-bottom: 8px;
		}

		p {
			color: #919191;
			line-height: 1.5;
			margin-bottom: 24px;
		}
	}

	&-content {
		padding: 0 16px;
	}

	.hashtag {
		display: flex;
		a {
			background: #F1F1F1;
			padding: 4px 12px;
			border-radius: 16px;
			margin-right: 16px;
	
			&:hover {
				background: #3B3B3B;
				color: white;
			}
		}
	}
}

.pagination {
	display: flex;
	justify-content: center;
	gap: 16px;
	font-size: 24px;
	line-height: 1.5;

	a {
		padding: 2px 13px;
		border-radius: 4px;

		&:hover {
			color: white;
			background: #1E1E1E;
		}
	}

	.active {
		color: white;
		background: #1E1E1E;
	}
}